
$National-ID-Card-1-hex: #243040;
$National-ID-Card-2-hex: #AED8F2;
$National-ID-Card-3-hex: #049DD9;
$National-ID-Card-4-hex: #F2E205;
$National-ID-Card-5-hex: #F25C5C;

/* Color Theme Swatches in RGBA */
$National-ID-Card-1-rgba: rgba(35,47,63, 1);
$National-ID-Card-2-rgba: rgba(174,216,242, 1);
$National-ID-Card-3-rgba: rgba(93, 209, 255, 0.5);
$National-ID-Card-4-rgba: rgba(242,226,4, 1);
$National-ID-Card-5-rgba: rgba(242,92,92, 1);

/* Color Theme Swatches in HSLA */
$National-ID-Card-1-hsla: hsla(213, 28, 19, 1);
$National-ID-Card-2-hsla: hsla(202, 72, 81, 1);
$National-ID-Card-3-hsla: hsla(196, 96, 43, 1);
$National-ID-Card-4-hsla: hsla(56, 96, 48, 1);
$National-ID-Card-5-hsla: hsla(0, 85, 65, 1);
$background: #BDD3DE;

/* Color Theme Swatches in Hex */
$color-1-hex: #A7CAE8;
$color-2-hex: #F2EC94;
$color-3-hex: #F2AA6B;
$color-4-hex: #EAB4CE;
$color-5-hex: #D5ED99;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(167,202,232, 1);
$color-2-rgba: rgba(242,235,147, 1);
$color-3-rgba: rgba(242,170,107, 1);
$color-4-rgba: rgba(233,179,205, 1);
$color-5-rgba: rgba(212,237,153, 1);

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(207, 58, 78, 1);
$color-2-hsla: hsla(56, 78, 76, 1);
$color-3-hsla: hsla(28, 83, 68, 1);
$color-4-hsla: hsla(331, 56, 81, 1);
$color-5-hsla: hsla(77, 70, 76, 1);
